* {
    margin: 0;
    padding: 0;
}
 body {
    background-color: rgb(0, 0, 3);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    height: 70px;
    background-color: #3f1651;
    border-radius: 6px;

}

 nav ul {
    display: flex;
    justify-content: center;
    position: fixed;
    right:80px;
} 

nav ul li  {
    list-style: none;
    margin: 0 23px
}

nav ul li a {
    text-decoration: none;
    color:#9c3587;
}

nav ul li a:hover {
    color:#f89f5b;
    font-size: 1.04rem;

} 
.me{
    width: 60px;
    position: relative;
    top: 7px;
    left: -20px;
    background-color: black;
    border-radius:50%;
}



.left {
    font-size: 3.5rem;
    padding-left: 50px;
    font-family: brush script;
}

 .right ul li{
   display: flex;
      align-items: center;
    text-align: center; 
    justify-content: space-evenly;  
    color:#9c3587;
    font-size: 1.5rem;
  
 }

.firstsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: -49px 0;
}

.firstsection>div {
    width: 45%;
}

.leftsection {

    font-size: 3rem;

}

.rightsection img {
    width: 100%;
    margin: 50px 0
}

.purple {
    color: #653780;
}

#element {
    color: #653780;
}

.secondsection {
    max-width: 80vw;
    margin: auto;
    height: 78vh;

}

main hr {
    border: 0px;
    background: #9c3587;
    height: 1.2px;
    margin: 40px 84px;
}
.mar {
    gap:50px;
    font-size: 2rem;
    color: #653780;
}
.mar span{
    padding-left: 50px;
}
.secondsection h1 {
    font-size: 1.9rem;
}

.text-gray {
    color: gray;
}

.secondsection .box {
    height: 2px;
    background-color: white;
    margin: 20px 84px;
    width: 125vh;
    display: flex;
   
}

.secondsection .vertical {
    height: 93px;
    width: 2px;
    background-color: white;
    margin: 0 124px;
}

.image-top {
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px;
}

.vertical-title {
    position: relative;
    top: 75px;
    left: -9px;
    width: 98px;
}

.vertical-desc {
    position: relative;
    top: 100px;
    color: gray;
    font-size: 16px;
    width: 185px;
}

footer {
    background-color: #3f1651;
}
.first{
    display:flex;
    justify-content: center;
    text-align: center;
}
.first h3{
    padding-top: 15px;
}

.footer {
    display: flex;
    padding :23px 122px;
    justify-content: space-evenly;
   

}
footer a {
    text-decoration: none;
    color:#9c3587;
}

footer a:hover {
    color:#f89f5b;
    font-size: 1.04rem;

} 
.text-center{
    display:flex;
    justify-content: center;
    text-align: center;
    padding:15px;
    color:#f89f5b;
}

.bio{
    color:#f89f5b;
}
.about{
    margin:22px;
}
p{
    word-spacing: 3px;
}
/* .contact{
    background-color:rgb(242, 242, 235);
    border:2px solid transparent;
    text-align:center;
    justify-content: center;
    /* height:60vh; */
    /* width:377px;
    align-items: center;
    margin:8em;
    border-radius:20px; */
 
.contact{
    margin:0px;
    max-width: 80vw;
    margin: auto;
    height: 62vh;

 }
.formm{
    display:flex;
    text-align:center;
    justify-content: center;
    margin-left: 84px;
    margin-top:25px;
   

}
input{
    height:45px;
    width:35vh;
    border-radius: 10px;
    text-align: center;
    width:634px;
    color:#f89f5b;
    background-color:  gray;
    
}

 label{
    display:block;
    margin-bottom:5px;
    text-align: left;
}
.namee label{
    display:block;
    padding-bottom:50px;
    text-align: left;
}
.name input{
    height:45px;
    width:310px;
    text-align: center;
    margin-top:18px;
    margin-left: 5px;
    background-color:  gray;
}
input:hover{
    border:2px solid rgb(102, 107, 103);
}
.email{
    margin-top:30px;
    margin-bottom:30px;
}
.btn{
    background-color: #3f1651;
    color:#f89f5b;
    margin-top:30px;
    height:45px;
    width:15vh;
    text-shadow: 5px;
    font-weight: bold;
    margin-left: 519px;
    border-radius: 10px;
    
}
.btn:hover{
   background-color: black;
    /* border:2px solid rgb(102, 107, 103); */
}
.btn-shadow{
     background-color: rgb(249, 252, 252);
}
a{
   margin-top:-8px;
   text-decoration: none;
   color:#f89f5b;
}



* {
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 455px){
body {
    background-color: rgb(0, 0, 3);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
}
@media only screen and (max-width: 455px){
nav {
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    height: 70px;
    background-color: #3f1651;
    width:455px;
    border-radius: 7px;

}
}
@media only screen and (max-width: 455px){
 nav ul {
    display: flex;
    justify-content: center;
    /* position: fixed; */
    right:7px;
} 
}
@media only screen and (max-width: 455px){
nav ul li  {
    list-style: none;
    margin: 0px 6px
}
}
@media only screen and (max-width: 455px){
nav ul li a {
    text-decoration: none;
    color:#9c3587;
}
}
@media only screen and (max-width: 455px){
nav ul li a:hover {
    color:#f89f5b;
    font-size: 1.04rem;

} 
}
@media only screen and (max-width: 455px){
.me{
    width: 44px;
    position: relative;
    top: 7px;
    left: -8px;
    background-color: black;
    border-radius:50%;
}
}
@media only screen and (max-width: 455px){

.left {
    font-size: 1.5rem;
    padding-left: 20px;
}
}
@media only screen and (max-width: 455px){
 .right ul li{
   display: flex;
      align-items: center;
    text-align: center; 
    justify-content: space-evenly;  
    color:#9c3587;
    font-size: 13.5px;
  
 }
}
@media only screen and (max-width: 455px){
.firstsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: -49px 0;
}
}
@media only screen and (max-width: 455px){
.firstsection>div {
    width: 45%;
}
}
@media only screen and (max-width: 455px){
.leftsection {

    font-size: 1rem;

}
}
@media only screen and (max-width: 455px){
.rightsection img {
    width: 100%;
    margin: 50px 0
}
}
@media only screen and (max-width: 455px){
.purple {
    color: #653780;
}
}
@media only screen and (max-width: 455px){
#element {
    color: #653780;
}
}
@media only screen and (max-width: 455px){
.secondsection {
    max-width: 80vw;
    margin: auto;
    height: 176vh;
    

}
}
@media only screen and (max-width: 455px){
main hr {
    border: 0px;
    background: #9c3587;
    height: 1.2px;
    margin: -21px -15px;
}
} 
@media only screen and (max-width: 455px){
.mar {
    gap:50px;
    font-size: 2rem;
    color: #653780;
    visibility:hidden;
}
}
@media only screen and (max-width: 455px){
.mar span{
    padding-left: 50px;
}
}
@media only screen and (max-width: 455px){
.secondsection h1 {
    margin-top: 28px;
    font-size: 1.9rem;
}
}
@media only screen and (max-width: 455px){
.text-gray {
    color: gray;
}
}
@media only screen and (max-width: 455px){
.secondsection .box {
    height: 2px;
    background-color: white;
    margin: 15px -103px;
    width: 69vh;
    /* display: flex; */
    display: flex;
    flex-direction: column;
   
}
}
@media only screen and (max-width: 455px){
.secondsection .vertical {
    height: 93px;
    width: 2px;
    background-color: white;
    margin: 37px 124px;
}
}
@media only screen and (max-width: 455px){
.image-top {
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px;
}
}
@media only screen and (max-width: 455px){
.vertical-title {
    position: relative;
    top: 28px;
    left: 17px;
    width: 98px;
}
}
@media only screen and (max-width: 455px){
.vertical-desc {
    position: relative;
    top: 30px;
    color: gray;
    font-size: 16px;
    width: 256px;
    margin-left: 72px;
}
}
@media only screen and (max-width: 600px){
.contact{
    margin:0px;
    max-width: 80vw;
    /* margin: auto; */
    margin-top: 72px;
    margin-left: 45px;
    height: 74vh;

 }
}
@media only screen and (max-width: 600px){
.formm{
    display:flex;
    text-align:center;
    justify-content: center;
    margin-left: 10px;
    margin-top:25px;
   

}
}
@media only screen and (max-width: 600px){
input{
    height:45px;
    width:35vh;
    border-radius: 10px;
    text-align: center;
    width:296px;
    color:#f89f5b;
    background-color:  gray;
    margin-left: 73px;
    
}
}
@media only screen and (max-width: 600px){

 label{
    display:block;
    margin-bottom:5px;
    text-align: left;
}
}
@media only screen and (max-width: 600px){
.namee label{
    display:block;
    padding-bottom:50px;
    text-align: left;
}
}
@media only screen and (max-width: 600px){
.name input{
    height:45px;
    width:140px;
    text-align: center;
    margin-top:18px;
    margin-left: 36px;
    margin-right: -34px;
    background-color:  gray;
}
}
@media only screen and (max-width: 600px){
input:hover{
    border:2px solid rgb(102, 107, 103);
}
}
@media only screen and (max-width: 600px){
.email{
    margin-top:30px;
    margin-bottom:30px;
}
}
@media only screen and (max-width: 600px){
.btn{
    background-color: #3f1651;
    color:#f89f5b;
    margin-top:30px;
    height:45px;
    width:15vh;
    text-shadow: 5px;
    font-weight: bold;
    margin-left: 267px;
    border-radius: 10px;
    
}
}
@media only screen and (max-width: 600px){
.btn:hover{
   background-color: black;
    /* border:2px solid rgb(102, 107, 103); */
}
}
@media only screen and (max-width: 600px){
.btn-shadow{
     background-color: rgb(249, 252, 252);
}
}
@media only screen and (max-width: 600px){
.th{
   margin-top:-8px;
   text-decoration: none;
   color:#f89f5b;
}
}
@media only screen and (max-width: 455px){
footer {
    background-color: #3f1651;
    margin-top:0px;
    border-radius: 7px;
    width:455px;
}
}
@media only screen and (max-width: 455px){
.first{
    display:flex;
    justify-content: center;
    text-align: center;
}
}
@media only screen and (max-width: 455px){
.first h3{
    padding-top: 15px;
}
}
@media only screen and (max-width: 455px){
.footer {
    display: flex;
    padding :-3px 122px;
    justify-content: space-evenly;
    border-radius: 7px;
  
}
}
@media only screen and (max-width: 455px){
footer a {
    text-decoration: none;
    color:#9c3587;
}
}
@media only screen and (max-width: 455px){
footer a:hover {
    color:#f89f5b;
    font-size: 1.04rem;

}
}
@media only screen and (max-width: 455px){ 
.text-center{
    display:flex;
    justify-content: center;
    text-align: center;
    padding:15px;
    color:#f89f5b;
}
}
@media only screen and (max-width: 455px){
.bio{
    color:#f89f5b;
}
}
@media only screen and (max-width: 455px){
.about{
    margin:22px;
}
}
@media only screen and (max-width: 455px){
p{
    word-spacing: 3px;
}
}